/* FirstPage.module.css */

.firstWrapper {
    /* 전체 화면을 감싸는 래퍼 */
    width: calc(100%);
    min-width: 1000px;
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면 전체 포함) */
}

.firstContainer {
    /* 상단바를 제외한 화면 컨테이너 */
    width: calc(100%);
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면 전체 포함) */
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 3%;
    margin-bottom: 2200px; /* 여백 추가 */
}

@keyframes fadeIn {
    /* 이미지가 나타나는 애니메이션 */
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.visible {
    /* IntersectionObserver에 의해 요소가 보일 때 fadeIn 애니메이션 적용 */
    animation: fadeIn 1s ease-in forwards;
}

.pageContainer {
    /* 페이지 컨테이너 스타일 */
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #F8FAFB;
}

.bannerText {
    /* 배너 문구 스타일 */
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #9D9797;
    margin: 0;
    animation: fadeIn 1s ease-out forwards;
}

.bannerSmallText {
    /* 배너 작은 문구 스타일 */
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: black;
    margin: 0;
    margin-bottom: 10%;
    animation: fadeIn 1.5s ease-out forwards;
}

.imageDiv {
    /* 이미지들이 포함된 div 스타일 */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.appImage {
    /* 앱 이미지 스타일 */
    width: calc(18%);
    height: auto;
    margin: 3%;
    opacity: 0; /* 초기 상태에서 투명하게 설정 */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
    border-radius: 40px;

}

.appImage1, .appImage2, .appImage3, .appImage4 {
    /* 각 앱 이미지 스타일 */
    width: calc(18%);
    height: auto;
    margin: 3%;
}

.centerLogo {
    /* 중앙 로고 이미지 스타일 */
    padding: 5%;
    margin-top: 10%;
    width: calc(40%);
    height: auto;
}

.loginButton {
    /* 로그인 버튼 스타일 */
    width: 440px;
    height: 60px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9D9797;
    border: 0px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    padding: 1%;

    &:hover {
        /* 호버 시 배경 색상 변경 */
        background-color: #9ABBF3;
    }
}

.topButton {
    /* 최상단으로 스크롤 버튼 스타일 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; /* 너비 설정 */
    height: 50px; /* 높이 설정 */
    background-color: rgba(0, 0, 0, 0); /* 투명 배경 */
    color: #9ABBF3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid #9ABBF3;
    border-radius: 50%; /* 동그라미 모양 */
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* 다른 요소 위에 표시 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s; /* 전환 시간 */
}
