/* MainPage의 css 파일 */
.mainWrapper {
    /* 화면 전체 감싸기 */
    width: calc(100%);
    min-width: 1000px; /* 화면 축소 최소 넓이 */
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
}

.mainContainer {
    /* 상단바 부분 빼고 화면 컨테이너 */
    width: calc(100%);
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
    flex-direction: column;
    display: flex;
    align-items: center;

}

.mainText {
    /* 제목 텍스트 (현재 가입자 수) */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 5%;
}
.mainText2 {
    /* 제목 텍스트 (현재 진행 중인 광고, 사용자 유형 분포도) */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 7%;
    margin-left: 60px;
    /* 왼쪽 여백 */
    margin-right: 60px;
    /* 오른쪽 여백 */
}

.contentBox {
    /* 내용 박스 */
    width: 40%;
    height: 12%;
    margin-bottom: 1%;
    background-color: #F8FAFB;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox2 {
    /* 내용 박스 가로 정렬 */
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.adBox {
    /* 현재 진행 중인 광고 박스 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}

.adContentBox {
    /* 현재 진행 중인 광고 내용 박스 */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.graphBox {
    /* 유형 분포도 박스 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}
.graphContentBox{
    /* 유형 분포도 내용 박스 */
    width: 700px;
    height: auto;
    background-color: #F8FAFB;
}
.buttonDiv{
    /* 버튼 가로 정렬 Div */
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    /* 버튼 스타일 */
    /* 검색 버튼 */
    border: 0px;
    margin: 2%;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

    &:hover {
        font-weight: bolder;
    }
}

.image{
    /* 기록 사진 */
    width: auto;
    height: 320px;
    margin-bottom: 2%;
}