/* ManagerAddPage의 css 파일 */


.managerAddWrapper{ /* 화면 전체 감싸기 */
    width: calc(100%);
    min-width: 1000px; /* 화면 축소 최소 넓이 */
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
}
.managerAddContainer{ /* 상단바 부분 빼고 화면 컨테이너 */
    width: calc(100%);
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
    flex-direction: column; /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
    padding-top: 1%;
}
.mainText{ /* 제목 텍스트 (로그인) */
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
}
.contentBox{ /* 내용 박스 (input들과 button들) */
    width: 650px;
    height: 550px;
    background-color: #F8FAFB;
    border: 0.5px solid #9ABBF3;
    border-radius: 7px;
    flex-direction: column; /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); /* 그림자 추가 */
}
.startContent{
    width: 100%;
}
.noticeText{ /* 알림 메세지 */
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    margin: 0;
    margin-top: 1%;
    padding: 0;
}
.contentText{ /* 박스 안에 소제목들 */
    margin-left: 19%;
    justify-self: start;
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.inputBox{ /* 입력창 박스 */
    background-color: white;
    border: 0.1px solid #9D9797;
    border-radius: 7px;
    width: 400px;
    height: 45px;
    padding-left: 3%;
    margin-top: 1%;
    /* margin-bottom: 2%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.addManagerButton{
    width: 420px;
    height: 50px;
    background-color: #9ABBF3;
    border: 0px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: black;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 추가 */

    &:hover {
        background-color: #9D9797;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* 그림자 추가 */
    }
}
.addManagerButtonH{
    width: 420px;
    height: 50px;
    background-color: #9D9797;
    border: 0px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}
.listDiv{
    /* 목록 버튼 Div */
    width: 50%;
    display: flex;
    justify-content: end;
}
.listButton{
    /* 목록 버튼 */
    margin-right: 590px;
    margin-bottom: 1%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255, 0);
    border: 0px solid #9ABBF3;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    font-weight: 600;
    color: black;
    cursor: pointer;
    &:hover {
        color: #9D9797;
    }
}