/* ManagerPwChangePage의 css파일 */

.managerPwChangeWrapper{ /* 화면 전체 감싸기 */
    width: calc(100%);
    min-width: 1000px; /* 화면 축소 최소 넓이 */
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
}
.managerPwChangeContainer{ /* 상단바 부분 빼고 화면 컨테이너 */
    width: calc(100%);
    height: 100vh; /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
    flex-direction: column; /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
    padding-top: 1%;
}
.mainText{ /* 제목 텍스트 (비밀번호 변경) */
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 2%;
    margin-top: 5%;
}
.noticeText{ /* 알림 메세지 */
    width: 350px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    margin: 0;
    margin-top: 3%;
    padding: 0;
}
.contentBox{ /* 내용 박스 (input들과 button들) */
    width: 600px;
    height: 450px;
    border: 0px solid #9ABBF3;
    border-radius: 7px;
    flex-direction: column; /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}
.startContent{
    width: 100%;
}
.contentText{ /* 박스 안에 소제목들 */
    margin-left: 21%;
    justify-self: start;
    margin-top: 4%;
    margin-bottom: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.inputBox{ /* 입력창 박스 */
    background-color: white;
    border: 0.1px solid #9D9797;
    border-radius: 7px;
    width: 330px;
    height: 45px;
    padding-left: 3%;
    margin-top: 1%;
    /* margin-bottom: 2%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.changePwdButton{
    width: 360px;
    height: 50px;
    background-color: #9ABBF3;
    border: 0px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: black;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

    &:hover {
        background-color: #9D9797;
        color: white;
    }
}
.changePwdButtonH{
    width: 360px;
    height: 50px;
    background-color: #9D9797;
    border: 0px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: white;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

}