/* UserManagePage의 css파일 */

.userManageWrapper {
    /* 화면 전체 감싸기 */
    width: calc(100%);
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
}

.userManageContainer {
    /* 상단바 부분 빼고 화면 컨테이너 */
    width: calc(100%);
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
    flex-direction: column;
    /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
}

.mainText {
    /* 제목 텍스트 (사용자 관리) */
    font-size: 35px;
    font-family: 'NanumSquareRoundR';
    margin-bottom: 0%;
    margin-top: 5%;
}
.searchDiv{
    /* 검색 박스 & 버튼 Div */
    width: 50%;
    display: flex;
    justify-content: end;
}
.searchInput{
    /* 검색 form 입력 칸 */
    width: 20%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 8px;
    margin: 1%;
    padding-left: 1%;
}
.searchButton{
    /* 검색 버튼 */
    border: 0.5px solid black;
    border-radius: 10%;
    margin: 1%;
    color: white;
    background-color: #9D9797;
    font-family: 'NanumSquareRoundEB';
    cursor: pointer;
}
.userTable{
    /* 사용자 정보 목록 테이블 */
    margin-top: 1%;
    background-color: #F8FAFB;
    border: 0px solid black;
    width: 50%;
    border-collapse: collapse;
    /* height: 50%; */
}
.tableThNum{
    /* 사용자 정보 목록 테이블 "목록" */
    text-align: center;
    font-size: 20px;
    font-family: 'NanumSquareRoundB';
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 1%;
}
.tableTh{
    /* 사용자 정보 목록 테이블 Th */
    text-align: center;
    font-size: 20px;
    font-family: 'NanumSquareRoundB';
    border-bottom: 0.5px solid black;
    padding: 1%;
}
.tableTr{
    /* 사용자 정보 목록 테이블 Tr */
    cursor: pointer;
    &:hover {
        background-color: lightgrey;
    }
}
.tableTdNum{
    /* 사용자 정보 목록 테이블 "목록 - 번호" */
    text-align: center;
    font-family: 'NanumSquareRoundR';
    border-bottom: 0.5px solid grey;
    border-right: 0.5px solid black;
    margin: 0px;
    padding: 0.5%;
}
.tableTd{
    /* 사용자 정보 목록 테이블 Td */
    text-align: center;
    font-family: 'NanumSquareRoundR';
    border-bottom: 0.5px solid grey;
    margin: 0px;
    padding: 0.5%;
}