/* TermsManagePage의 css 파일 */

.termsWrapper{ /* 화면 전체 감싸기 */
    width: calc(100%);
    min-width: 1000px; /* 화면 축소 최소 넓이 */
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
}
.termsContainer{ /* 상단바 부분 빼고 화면 컨테이너 */
    /* 상단바 부분 빼고 화면 컨테이너 */
    width: calc(100%);
    height: 100vh;
    /* 뷰포트의 높이와 동일하게 설정 (요소가 없어도 화면전체 포함) */
    flex-direction: column;
    /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
}
.mainText{ /* 제목 텍스트 (이용약관 관리) */
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 3%;
    margin-top: 5%;
}
.contentBox{ /* 내용 박스 (input들과 button들) */
    width: 1000px;
    height: 500px;
    border: 0px solid #9ABBF3;
    border-radius: 7px;
    background-color: #F8FAFB;
    flex-direction: column; /* 요소 세로 정렬*/
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}
.startContent{
    width: 100%;
}
.contentText{ /* 박스 안에 소제목들 */
    margin-left: 21%;
    justify-self: start;
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'NanumSquareRoundB';
}
.textBox{ /* 이용약관 내용 textarea 박스 */
    background-color: #F8FAFB;
    border: 0px solid #9D9797;
    width: 90%;
    height: 80%;
    padding: 1%;
    margin-top: 0;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.updateDiv{
    /* 수정 완료 버튼 Div */
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.updateButton{
    /* 버튼 스타일 */
    /* 검색 버튼 */
    border: 0px;
    margin: 2%;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

    &:hover {
        font-weight: bolder;
    }
}